*{
	margin: 0px;
	padding: 0px;
	font-family: teademo;
	color: white;
}

body, html{
	height: 100%;
}

@font-face{
	font-family: teademo;
	src: url(../fontes/teademo.woff);
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: white;
}

#imagem1{
	height: 100%;
	background: rgba(0, 0, 0, 0) url(../imagens/fundo.png) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.85;
}

#cabecalho{
	position: relative;
	height: 100px;
	float: center;
	background: black;
	opacity: 0.94;
}

#logo{
	position: absolute;
	left: 40px;
	width: 100px;
	height: 100px;
	float: left;
}

#menu{
	position: absolute;
	right: 25%;
	height: 78px;
	width: 50%;
}

#menu li{
	float: left;
	font-size: 1.6em;
	padding: 1px;
}

#menu a{
	padding: 9px 11px 6px 11px;	
}

#menu ul{
	position: absolute;
	top: 35px;
	left: 55px;
	float: left;
	min-width: 560px;
}

#menu a:hover{
	border: #F24822 solid 1px;
	border-radius: 5px;
	background: black;
	padding: 8px 10px 5px 10px;
}

#menu a:active{
	background: #F24822;
}

#destaque{
	background: black;
	text-align: center;
	font-size: 2.5em;
	opacity: 0.94;
	padding: 10px;
}

#conteudo{
	position: relative;
	height: 910px;
	float: center;
	background: #747273;
}

#conteudo img{
	width: 400px;
}

#conteudo1 #texto1 h3,
#conteudo2 #texto2 h3{
	position: absolute;
	top: -50px;
	font-size: 2em;

}

#conteudo1{
	position: absolute;
	top: 50px;
	left: 50px;
	margin-right: 50px;
	height: 400px;
	width: 1247px;
	word-wrap: break-word;
	float: left;
	font-size: 1.3em;
	padding-bottom: 25px;
	border-bottom: black solid 2px;
}

#conteudo2{
	position: absolute;
	top: 500px;
	right: 50px;
	height: 400px;
	width: 1247px;
	word-wrap: break-word;
	float: left;
	font-size: 1.3em;
}

#texto1{
	position: absolute;
	top: 50px;
	left: 450px;

}

#texto2{
	position: absolute;
	top: 50px;
	right: 450px;
}

.foto1{
	float: left;
}

.foto2{
	float: right;
	
}

.box-título{
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
}

.box-título span.titulo{
	display: inline-block;	
	padding: 20px;
	border-radius: 20px;
	font-size: 7em;
	color: white;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0.93;
}

#reservar{
	font-size: 1.6em;
	position: absolute;
	top: 35px;
	right: 20px;
	float: right;
}

#reservar a:hover{
	background: #F24822;
	padding: 8px 10px 5px 10px;
	border-radius: 5px;
}

#reservar a{
	border: #F24822 solid 1px;
	border-radius: 5px;
	background: black;
	padding: 8px 10px 5px 10px;
}

#cabecalho #menu #menu-bar .home a,
#cabecalho #menu #menu-bar .blends a,
#cabecalho #menu #menu-bar .workshops a,
#cabecalho #menu #menu-bar .mercearia a,
#cabecalho #menu #menu-bar .fale-conosco a{
	background: #F24822;
	padding: 8px 10px 5px 10px;
	border-radius: 5px;
	border: none;
}

#cabecalho #menu #menu-bar .home a:hover,
#cabecalho #menu #menu-bar .blends a:hover,
#cabecalho #menu #menu-bar .workshops a:hover,
#cabecalho #menu #menu-bar .mercearia a:hover,
#cabecalho #menu #menu-bar .fale-conosco a:hover{
	background: #A93217;
	padding: 8px 10px 5px 10px;
	border-radius: 5px;
	border: none;
}

#rodape{
	font-family: chellin;
	position: relative;
	height: 200px;
	background: black;
	opacity: 0.94;
}

#logo-rodape{
	position: absolute;
	top: 10px;
	left: 90px;
}

#inicio-rodape, #sobre-rodape, #suporte-rodape{
	position: absolute;
	top: 25px;
	height: 100px;
	width: 100px;
	line-height: 1.5em;
}

#inicio-rodape{
	position: absolute;
	left: 300px;

}

#sobre-rodape{
	position: absolute;
	left: 480px;
}

#suporte-rodape{
	position: absolute;
	left: 700px;
}

#newsletter{
	position: absolute;
	right: 200px;
	top: 40px;
}

input{
	width: 250px;
	height: 20px;
	color: white;
	background: black;
	border: solid white 1px;
}

#copy{
	text-align: center;
	font-family: calibri;
	background: black;
	padding: 10px 0px;
}
